prozesse/Bewerbungsprozess.json
{
  "name": "Bewerbungsprozess",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "negativ",
              "id": "condition-1771854381069-6dcwpxjub"
            },
            {
              "id": "de312d47-8687-49f1-964d-2868662d5ce9",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "=Negativ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1072,
        416
      ],
      "id": "89090ce0-627e-4ff5-9116-b04be2870b3d",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": "gpt-4.1-mini",
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Handelt es sich hier um eine positiv oder negative Nachricht? Antworte nur ob es positiv oder negativ ist {{ $json.subject }}{{ $json.textPlain }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1408,
        400
      ],
      "id": "a4fa6883-fa0a-408f-b188-64a73278ec69",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "jhyDZJEx6tuhqtjw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "value": "INBOX",
          "mode": "list",
          "cachedResultName": "INBOX"
        },
        "emailUid": "={{ $('Start').item.json.attributes_uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "INBOX.Applications",
          "mode": "list",
          "cachedResultName": "INBOX.Applications"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        -784,
        144
      ],
      "id": "a1620c19-80ca-46ef-9ef7-87373a7283e6",
      "name": "MoveEmail email8",
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5997721099",
        "text": "=Neue Zusage erhalten!\nVon: {{ $(\"Start\").item.json.from }}\nBetreff: {{ $(\"Start\").item.json.subject }}\n\nInhalt:\n{{ $(\"Start\").item.json.textPlain.substring(0, 500) }}...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        16
      ],
      "id": "bdcf5482-594d-4a1d-9d1d-348e035c30e1",
      "name": "Send a text message1",
      "webhookId": "dc62a27d-4a0d-46db-922a-b7415065f553",
      "credentials": {
        "telegramApi": {
          "id": "2vaPuxdHLd9FZQYU",
          "name": "Telegram Application"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "value": "INBOX",
          "mode": "list",
          "cachedResultName": "INBOX"
        },
        "emailUid": "={{ $('Start').item.json.attributes_uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "INBOX.Applications.Absagen",
          "mode": "list",
          "cachedResultName": "INBOX.Applications.Absagen"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        -784,
        640
      ],
      "id": "c72d6603-dc53-40b0-a67a-aecf911b52c3",
      "name": "MoveEmail email9",
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "CCGeKS0TqhDBXcNV",
          "mode": "list",
          "cachedResultName": "absagen",
          "cachedResultUrl": "/projects/H20kGkPwPOZcc2fu/datatables/CCGeKS0TqhDBXcNV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Start').item.json.from }}",
            "betreff": "={{ $('Start').item.json.subject }}",
            "mailtext": "={{ $('Start').item.json.textPlain }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mailtext",
              "displayName": "mailtext",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "betreff",
              "displayName": "betreff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -400,
        640
      ],
      "id": "520e1839-3e25-48c9-8219-ae35fdef9fb7",
      "name": "Insert row"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "attributes_uid",
              "type": "any"
            },
            {
              "name": "from",
              "type": "any"
            },
            {
              "name": "subject",
              "type": "any"
            },
            {
              "name": "textPlain",
              "type": "any"
            }
          ]
        }
      },
      "id": "bdcf6b35-fd56-432b-8580-3bc4e43b458c",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1616,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mo08T6QQM19NKX2Q",
          "mode": "list",
          "cachedResultUrl": "/workflow/mo08T6QQM19NKX2Q",
          "cachedResultName": "Entwurf Erstellen"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "mailtext",
              "displayName": "mailtext",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -144,
        32
      ],
      "id": "343bbddf-5cbd-4a0c-bc41-ca4fd459269e",
      "name": "Call Entwurf Erstellen"
    }
  ],
  "pinData": {},
  "connections": {
    "MoveEmail email8": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MoveEmail email9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoveEmail email8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MoveEmail email9": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Call Entwurf Erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6ba80434-8bf5-4b9b-b1ba-121fd3fc83ce",
  "meta": {
    "instanceId": "e05035d0af1fbe0c6bb77efc0b4665346429736027f5efc853dac3c80512fc3e"
  },
  "id": "ylSCL6QQH8nAIzbr",
  "tags": []
}