prozesse/Email Classification and Move.json
{
  "name": "Email Classification and Move",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5df2db46-49a3-40da-87f6-6fe9f3c7137c",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        816,
        848
      ],
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=You have to classify the incoming mail. What is it?  {{ $json.textHtml }} {{ $json.subject }}",
        "categories": {
          "categories": [
            {
              "category": "Job Application",
              "description": "E-Mails, die sich auf Bewerbungen, Stellenangebote oder berufliche Kontakte beziehen. Dazu gehören Bewerbungen, Lebensläufe, Anschreiben, Rückmeldungen von Recruitern, Interview-Einladungen, Absagen, Vertragsangebote, Jobportale, Headhunter oder Personalabteilungen. Typische Inhalte: Bewerbung, Lebenslauf, Interview, Stelle, Position, Karriere, Recruiter, HR, Vertrag, Angebot."
            },
            {
              "category": "Auth Code",
              "description": "E-Mails, die einmalige Sicherheitscodes oder Bestätigungen enthalten. Dazu gehören Login-Codes, Zwei-Faktor-Authentifizierung (2FA), Einmalpasswörter (OTP), Verifizierungslinks, Sicherheitswarnungen, Passwort-Resets oder Gerätebestätigungen. Typische Inhalte: Code, Sicherheitscode, Bestätigungscode, Einmalcode, Login, Verifizierung, Passwort zurücksetzen, 2FA."
            },
            {
              "category": "Marketing Mail ",
              "description": "Werbliche oder marketingbezogene E-Mails. Dazu gehören Newsletter, Angebote, Rabatte, Aktionen, Produktwerbung, Events, Updates von Shops oder Services, Promo-Mails und Mailinglisten. Typische Inhalte: Angebot, Rabatt, Sale, Newsletter, Aktion, jetzt kaufen, Werbung, Promotion, Gutschein."
            },
            {
              "category": "Finanzen Mail",
              "description": "E-Mails, die sich auf Geldtransaktionen, offizielle Dokumente, Verträge oder finanzielle Verpflichtungen beziehen. Dazu gehören Rechnungen, Quittungen, Bankauszüge, Mahnungen, Steuerunterlagen, Gehaltsabrechnungen, Versicherungsdokumente, Informationen zu Krediten oder Depot-Updates.  Typische Inhalte: Rechnung, Betrag, Zahlung, Überweisung, Bank, Konto, Steuer, Mahnung, Gehalt, Versicherung, Investment, Transaktion, Saldo."
            },
            {
              "category": "Bestellungen ",
              "description": "E-Mails, die den Kaufprozess und die Logistik von physischen oder digitalen Waren betreffen. Dazu gehören Kaufbestätigungen, Versandbenachrichtigungen, Sendungsverfolgung, Lieferankündigungen, Retouren-Bestätigungen oder Stornierungen.  Typische Inhalte: Bestellung, Versand, Paket, Sendungsverfolgung, Lieferung, Lieferstatus, Retoure, Einkauf, Warenkorb, Track & Trace."
            },
            {
              "category": "Spam",
              "description": "Spam / Unerwünscht E-Mails, die unerwünscht, betrügerisch oder schädlich sind. Dazu gehören Phishing-Versuche, unrealistische Gewinnversprechen, Scam-Angebote (z. B. Krypto, Casino), gefälschte Sicherheitswarnungen oder Massenmails von Absendern, die nie autorisiert wurden.  Typische Inhalte: Gewinn, Million, Erbe, Krypto, Casino, Scam, Viagra, dringend handeln, Konto gesperrt, Geschenk, Bitcoin, exklusives Angebot (unverlangt)."
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1088,
        800
      ],
      "id": "f7f8661c-0d25-40dd-aaea-1da3c7e15cd2",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        1184
      ],
      "id": "29fa47ee-53c8-4eac-9127-687a6363c1b1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jhyDZJEx6tuhqtjw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "value": "INBOX",
          "mode": "list",
          "cachedResultName": "INBOX"
        },
        "emailUid": "={{ $json.attributes.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "INBOX.AuthCode",
          "mode": "list",
          "cachedResultName": "INBOX.AuthCode"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        2240,
        672
      ],
      "id": "53e6d757-9970-4e9e-a99e-a9d4d961e89b",
      "name": "MoveEmail email",
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "value": "INBOX",
          "mode": "list",
          "cachedResultName": "INBOX"
        },
        "emailUid": "={{ $json.attributes.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "INBOX.Marketing",
          "mode": "list",
          "cachedResultName": "INBOX.Marketing"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        3200,
        816
      ],
      "id": "e4b88624-61fb-4d87-b769-3311c85dc7ad",
      "name": "MoveEmail email1",
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5997721099",
        "text": "={{ $('Text Classifier').item.json.from }}{{ $('Text Classifier').item.json.subject }}{{ $('Text Classifier').item.json.textPlain.substring(0, 3800) + '... (gekürzt)' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2704,
        640
      ],
      "id": "05b8be89-fdfa-4457-9c1a-1386fdfce38e",
      "name": "Send a text message",
      "webhookId": "6c034e3b-d114-4fbb-880d-2db37f4f391d",
      "credentials": {
        "telegramApi": {
          "id": "wKOBU75TXNpZwGMV",
          "name": "Telegram Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.attributes.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "INBOX.Finance",
          "mode": "list",
          "cachedResultName": "INBOX.Finance"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        2352,
        928
      ],
      "id": "b57f65d4-cb61-4eb1-9a03-f2fc2ae012da",
      "name": "MoveEmail email3",
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.attributes.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "INBOX.Orders",
          "mode": "list",
          "cachedResultName": "INBOX.Orders"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        2384,
        1104
      ],
      "id": "eba76131-f089-43a0-b880-2648e40762fa",
      "name": "MoveEmail email4",
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.attributes.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "INBOX.Spam",
          "mode": "list",
          "cachedResultName": "INBOX.Spam"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        2384,
        1312
      ],
      "id": "a130fc79-8859-4ea2-a346-2ecc4dcd15f8",
      "name": "MoveEmail email6",
      "credentials": {
        "imap": {
          "id": "LnRr8b0LZiiaXs70",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6iQGLn3SKrspGk7K",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "attributes_uid": "={{ $('Email Trigger (IMAP)').item.json.attributes.uid }}",
            "from": "={{ $('Email Trigger (IMAP)').item.json.from }}",
            "subject": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
            "textPlain": "={{ $json.textPlain }}"
          },
          "matchingColumns": [
            "attributes_uid",
            "from",
            "subject",
            "textPlain"
          ],
          "schema": [
            {
              "id": "attributes_uid",
              "displayName": "attributes_uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "textPlain",
              "displayName": "textPlain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2912,
        208
      ],
      "name": "Call Bewerbungsprozess",
      "id": "060bd0f1-642f-49ff-a89b-7bf08169d1f7"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Call Bewerbungsprozess",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoveEmail email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoveEmail email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoveEmail email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoveEmail email4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoveEmail email6",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "MoveEmail email": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MoveEmail email3": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "867fef7f-6172-4b26-8628-dfae74c7d8ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e05035d0af1fbe0c6bb77efc0b4665346429736027f5efc853dac3c80512fc3e"
  },
  "id": "wIWj2QaLJDEgWbUJ",
  "tags": []
}